<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiezh.dao.weixin.WeixinOrdersMapper" >
    <resultMap id="BaseResultMap" type="com.jiezh.entity.WeixinOrders" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="prepay_id" property="prepayId" jdbcType="VARCHAR" />
        <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
        <result column="spbill_create_ip" property="spbillCreateIp" jdbcType="VARCHAR" />
        <result column="body" property="body" jdbcType="VARCHAR" />
        <result column="total_fee" property="totalFee" jdbcType="DECIMAL" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="course_id" property="courseId" jdbcType="INTEGER" />
        <result column="course_name" property="courseName" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="INTEGER" />
        <result column="nonce_str" property="nonceStr" jdbcType="VARCHAR" />
        <result column="status_name" property="statusName" jdbcType="VARCHAR" />
        <result column="logo_url" property="logoUrl" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        wo.id, wo.status, wo.prepay_id, wo.out_trade_no, wo.spbill_create_ip, wo.body, wo.total_fee, wo.user_id, wo.course_id,
        wo.course_name, wo.create_date, wo.create_user, wo.nonce_str
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="_int" >
        select 
        <include refid="Base_Column_List" />
        from t_weixin_orders wo
        where wo.id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insert" keyProperty="id" parameterType="com.jiezh.entity.WeixinOrders" >
        <selectKey resultType="_int" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_weixin_orders (status, prepay_id, out_trade_no, spbill_create_ip,
            body, total_fee, user_id, 
            course_id, course_name, create_date, 
            create_user, nonce_str)
        values (#{status,jdbcType=VARCHAR}, #{prepayId,jdbcType=VARCHAR}, #{outTradeNo,jdbcType=VARCHAR}, #{spbillCreateIp,jdbcType=VARCHAR},
            #{body,jdbcType=VARCHAR}, #{totalFee,jdbcType=DECIMAL}, #{userId,jdbcType=INTEGER}, 
            #{courseId,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
            #{createUser,jdbcType=INTEGER}, #{nonceStr,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.jiezh.entity.WeixinOrders" >
        update t_weixin_orders
        <set >
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="prepayId != null" >
                prepay_id = #{prepayId,jdbcType=VARCHAR},
            </if>
            <if test="outTradeNo != null" >
                out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="spbillCreateIp != null" >
                spbill_create_ip = #{spbillCreateIp,jdbcType=VARCHAR},
            </if>
            <if test="body != null" >
                body = #{body,jdbcType=VARCHAR},
            </if>
            <if test="totalFee != null" >
                total_fee = #{totalFee,jdbcType=DECIMAL},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="courseId != null" >
                course_id = #{courseId,jdbcType=INTEGER},
            </if>
            <if test="courseName != null" >
                course_name = #{courseName,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null" >
                create_user = #{createUser,jdbcType=INTEGER},
            </if>
            <if test="nonceStr != null" >
                nonce_str = #{nonceStr,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateWeixinOrdersByNo" parameterType="com.jiezh.entity.WeixinOrders" >
        update t_weixin_orders
        <set>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="_int" >
        delete from t_weixin_orders
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="queryOrderByIdAndUserId" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List" />
        from t_weixin_orders wo
        where wo.course_id = #{courseId,jdbcType=INTEGER} and wo.user_id = #{userId,jdbcType=INTEGER} and wo.status = #{status,jdbcType=VARCHAR}
    </select>

    <!-- 分页 -->
    <select id="queryOrderList" resultMap="BaseResultMap" parameterType="com.jiezh.entity.WeixinOrders">
        select
        case wo.status when '1' then '待支付' when '2' then '支付中'  when '3' then '已付款' end as status_name,
        c.logo_url,
        <include refid="Base_Column_List" />
        from t_weixin_orders wo
        left join t_course c on wo.course_id = c.id
        <where>
            <if test="userId != null and userId != 0" >
                and wo.user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="courseId != null and courseId != 0" >
                and wo.course_id = #{courseId,jdbcType=INTEGER}
            </if>
            <if test="status != null" >
                and wo.status = #{status,jdbcType=VARCHAR}
            </if>
        </where>
        order by wo.id desc
    </select>

    <select id="queryOrderListByUserId" resultMap="BaseResultMap" parameterType="_int">
        select
        <include refid="Base_Column_List" />
        from t_weixin_orders wo
        where wo.user_id = #{userId,jdbcType=INTEGER}
        order by wo.id desc
    </select>

    <!-- 查询收费的课程 -->
    <select id="queryFeeOrderListByUserId" resultMap="BaseResultMap" parameterType="_int">
        select
        <include refid="Base_Column_List" />
        from t_weixin_orders wo
        left join t_course c on wo.course_id = c.id
        where c.is_free = '2' and wo.user_id = #{userId,jdbcType=INTEGER}
        order by wo.id desc
    </select>

    <!-- 根据编号查询订单信息 -->
    <select id="queryWeixinOrdersByNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from t_weixin_orders wo
        where wo.out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
    </select>

</mapper>